<a href="/">Home</a>
<h1>Welcome to GuitarPal!</h1>
<h2>Complete the form below to register your account.</h2>
<br /><br />
<form action="/register" method="post">
	<div class="username-container">
		Username:<br />
		<input
			type="text"
			name="name"
			placeholder="Username"
			required
		/><br /><br />
	</div>
	<div class="email-container">
		Email:<br />
		<input type="email" name="email" placeholder="Email" required /><br /><br />
	</div>
	<div class="password-container">
		Password:<br />
		<input
			type="password"
			name="password"
			placeholder="Password"
			required
		/><br /><br />
	</div>
	<input type="submit" value="Register" />
</form>
<a href="/login">Login</a>
