* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #021e07;
	font-family: 'Silkscreen', sans-serif;
	color: #31c110;
	font-size: 16px;
	display: flex;
	height: 100vh;
}

body#login-body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.login-container {
	background-color: #0b5c04;
	padding: 20px;
	border-radius: 4%;
	height: auto;
	width: auto;
	font-size: 1.6rem;
}

input[name] {
	width: 24rem;
	height: 3rem;
	padding-left: 8px;
	padding-right: 8px;
	margin: 10px auto;
	border: auto;
	border-radius: 10px;
	border-style: none;
	font-size: 1.8rem;
}

.button-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.button1 {
	width: 11rem;
	height: 2.5rem;
	border: auto;
	border-radius: 20px;
	font-size: 1.8rem;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}
